@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --text-font-family:  "DM Sans", sans-serif;
    --primary-color: rgba(0, 0, 0, 0.889);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font-family);
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: auto;
    background-color: black ;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    opacity: 1; 
}

.link-wsp {
    display: flex;
    background-color: green;
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 95%;
    top: 85%;
    z-index: 99;
    cursor: pointer;
}

.link-wsp i {
    font-size: 26px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    position: sticky;
}


.header-nav-log-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px
}

.header-nav-log-name h2 {
    color: white
}

.logo {
    width: 50px;
    border-radius: 10px;
}


.header-nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.header-nav-links button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(49, 49, 49, 0.8);
}

.header-nav-links button:hover {
    background-color: rgb(178, 178, 178, 0.4);
}

.header-nav-links a {
    text-decoration: none;
    color: white;
}

.main-section {
    position: relative; /* Hace que los elementos hijos con position: absolute se posicionen respecto a este contenedor */
}


.main-section-img {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-height: 400px; /* No supera los 400px de altura */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    opacity: 0.6;
}

.main-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite posicionar el título sobre la imagen */
    bottom: 55%; /* Ajusta la posición vertical (puedes cambiar el valor) */
    left: 50px; /* Ajusta la posición horizontal (puedes cambiar el valor) */
    color: white; /* Cambia el color del texto según sea necesario */
    padding: 10px; /* Espaciado alrededor del texto */
    font-size: 46px;
    text-shadow: 2px 1px gray ;
}

.main-section-p {
    position: absolute; 
    bottom: 42%; 
    left: 50px; 
    color: white; 
    padding: 10px;
    font-size: 20px;
}

.br-option {
    display: none;
}

.main-section-button {
    position: absolute; 
    bottom: 30%; 
    left: 55px; 
    color: black; 
    background-color: rgba(255,184,87);
    padding: 10px 40px; 
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.main-section-button:hover {
    background-color: rgb(253, 198, 121) ;
}

.section-works-images h3 {
    display: flex;
    color: white;
    font-size: 36px;
    margin: 35px 0 35px 0;
    justify-content: center;
    align-items: center;
}


.section-works-img{
    display: flex;
    width: 100%;
    height: 430px;
    overflow: hidden;
    margin: 20px 0 20px 0;
}

.section-works-img img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}

.section-works-img img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.section-works-images p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;
    margin: 10px 0 10px 0;
}

.section-works-link {
    display: flex;
    text-decoration: none;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-works-images-span{
    display: none;
}


.section-works-link a {
    text-decoration: none;
}

.section-works-link a span {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.section-works-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    margin: 20px 0 20px 0;
}

.footer-section{
    background-image: url(backgroundd.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-footer-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.first-footer-section h3 {
    color: white;
    font-size: 26px;
    margin: 20px 0 0 0px;
}

.first-footer-section p {
    color: white;
    font-size: 14px;
    margin: 2px 0 0 0;
    text-align: justify;
}

.second-footer-section {
    display: flex;
    flex-direction: column;
    margin: 20px 60px 0 0;
    padding: 20px;
}

.second-footer-section h3 {
    font-size: 20px;
    color: white;
}

.second-footer-section i {
    color: white;
    font-size: 20px;
}

.second-footer-section-icons {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 50px;
}

.second-footer-section span {
    color: white;
}

.mail-section {
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.mail-section-form input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.mail-section-form textarea {
    resize: none;
    width: 338px;
    height: 81px;
}

.mail-section-form-submit {
    background-color: rgb(253, 198, 121) ;
    color: black;
}

.mail-section h3 {
    color: white;
}

.mail-section-form label {
    color: white;
}

@media  screen and (max-width: 1600px) {
    .link-wsp {
        display: flex;
        position: fixed;
        left: 95%;
    }

}

@media  screen and (max-width: 1050px) {
    .link-wsp {
        display: flex;
        position: fixed;
        left: 93%;
        text-decoration: none;
    }

    .section-works-img{
        display: flex;
        width: 100%;
        height: 430px;
        overflow: hidden;
        margin: 20px 0 20px 0;
    }
    
    .section-works-img img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .9;
        transition: .5s ease;
    }
    
    .section-works-img img:hover{
        width: 330px;
        opacity: 1;
        filter: contrast(120%);
    }
}

@media screen and (max-width:1000px) {
    .link-wsp {
        display: flex;
        position: fixed;
        left: 92%;
    }

}

@media screen and (max-width: 720px) {
    .header-nav-links button {
        display: none;
    }

    .header-nav-links i {
        display: flex;
        color: white;
    }


    .link-wsp {
        display: flex;
        position: fixed;
        left: 90%;
        width: 50px;
        height: 50px;
        border-radius: 100%;        
    }

    .link-wsp a {
        text-decoration: none;
    }

    .link-wsp i {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-works-images-span {
        display: flex;
        color: white;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 35px;
    }

    .section-works-img {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 420px;
        overflow-x: scroll;
        margin: 20px 0;
        scroll-snap-type: x mandatory; 
}

    .section-works-img img{
        flex: 1 100%;
        margin: 10px 30px 0 10px;
        object-fit: cover; 
        height: 400px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 12px 2px rgba(255, 184, 87);
    }
    
    .section-works-img img:hover{
        width: 100%;
        opacity: 1;
        filter: contrast(110%);
    }

    
    
}


@media screen and (max-width: 650px) {

    .header-nav-log-name h2 {
        font-size: 18px ;
    }

    .logo {
        font-size: 16px;
    }

    .main-section-title {
        display: flex;
        font-size: 36px;
        position: absolute; 
        bottom: 60%; 
        left: 50px; 
    }

    .main-section-p {
        font-size: 19px;
        display: flex;
        position: absolute;
        bottom: 42%;
    }

}

@media screen and (max-width: 620px) {
    .footer-section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        height: 300px;
    }

    .first-footer-section {
        display: flex;
        position: relative;
    }

    .second-footer-section {
        display: flex;
        position: relative;
        bottom: 20px;
    }
}

@media screen and (max-width: 480px) {

    .link-wsp {
        position: fixed;
        left: 88%;
    }
    .main-section-img {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-height: 300px; /* No supera los 400px de altura */
    }

    .main-section-title {
        font-size: 22px;
        display: flex;
        position: absolute;
        bottom: 60%;
    }

    .main-section-p {
        font-size: 14px;
    }

    .main-section-button {
        font-size: 14px;
        padding: 10px;
    }

    .section-works-images h3 {
        font-size: 30px;
    }

    .section-works-link p {
        font-size: 16px;
    }

    .footer-section {
        display: flex;
        position: relative;
    }

    .first-footer-section {
        display: flex;
        position: relative;
        bottom: 10px;
    }

    .first-footer-section h3 {
        font-size: 20px;
    }

    .second-footer-section {
        display: flex;
        position: absolute;
        bottom: 5px;
    }

    .second-footer-section h3 {
        font-size: 20px;
    }

}

@media screen and (max-width: 420px) {

    .link-wsp {
        position: fixed;
        left: 88%;
    }
    .main-section-img {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-height: 300px; /* No supera los 400px de altura */
    }

    .main-section-title {
        font-size: 22px;
        display: flex;
        position: absolute;
        bottom: 60%;
    }

    .main-section-p {
        font-size: 14px;
    }

    .main-section-button {
        font-size: 14px;
        padding: 10px;
    }

    .section-works-images h3 {
        font-size: 30px;
    }

    .section-works-link p {
        font-size: 16px;
    }

    .footer-section {
        display: flex;
        position: relative;
    }

    .first-footer-section {
        display: flex;
        position: relative;
        bottom: 10px;
    }

    .first-footer-section h3 {
        font-size: 18px;
    }

    .first-footer-section p {
        font-size: 14px;
    }

    .second-footer-section {
        display: flex;
        position: absolute;
        bottom: 4px;
    }

    .second-footer-section h3 {
        font-size: 18px;
    }

    .second-footer-section span {
        font-size: 14px;
    }

}

@media screen and (max-width: 390px) {

    .link-wsp {
        position: fixed;
        left: 85%;
    }

    .link-wsp i {
        padding: 8px;
    }

    .header-nav-log-name {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50px;
    }

    .header-nav-log-name h2 {
        font-size: 16px;
    }

    .header-nav-log-name img {
        font-size: 10px
    }
    .main-section-img {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-height: 300px; /* No supera los 400px de altura */
        display: flex;
        position: relative;
    }

    .main-section-title {
        font-size: 22px;
        display: flex;
        position: absolute;
        bottom: 65%;
    }

    .main-section-p {
        font-size: 13px;
        display: flex;
        position: absolute;
        bottom: 45%;
    }

    .main-section-button {
        font-size: 14px;
        padding: 10px;
    }

    .section-works-images h3 {
        display: flex;
        position: relative;
        top: 20px;
    }

    .section-works-images span {
        display: flex;
        position: relative;
        top: 1px;
    }

    .section-works-img {
        padding: 6px;
        margin-bottom: 5px;
    }

    .section-works-images h3 {
        font-size: 30px;
    }

    .section-works-link p {
        font-size: 16px;
    }

    .footer-section {
        display: flex;
        position: relative;
    }

    .first-footer-section {
        display: flex;
        position: relative;
        bottom: 25px;
    }

    .first-footer-section h3 {
        font-size: 18px;
    }

    .first-footer-section p {
        font-size: 14px;
    }

    .second-footer-section {
        display: flex;
        position: absolute;
        bottom: 4px;
    }

    .second-footer-section h3 {
        font-size: 18px;
    }

    .second-footer-section span {
        font-size: 14px;
    }

}

@media screen and (max-width: 360px) {

    .main-section-title {
        font-size: 22px;
        display: flex;
        position: absolute;
        bottom: 65%;
    }

    .main-section-p {
        font-size: 12px;
        display: flex;
        position: absolute;
        bottom: 47%;
    }

    .main-section-button {
        display: flex;
        position: absolute;
        bottom: 35%;
        font-size: 14px;
        padding: 10px;
    }

    .mail-section {
        padding: 20px;
    }
    .mail-section-form {
        width: 320px;
    }

    .mail-section-form textarea {
        resize: none;
        width: 320px;
    } 

    .mail-section-form-submit {
        width: 320px;
    }
}


@media screen and (max-width: 345px) {

    .main-section-title {
        font-size: 22px;
        display: flex;
        position: absolute;
        bottom: 65%;
    }

    .main-section-p {
        font-size: 12px;
        display: flex;
        position: absolute;
        bottom: 47%;
    }

    .main-section-button {
        display: flex;
        position: absolute;
        bottom: 35%;
        font-size: 14px;
        padding: 10px;
    }

    .section-works-link p {
        font-size: 14px;
    }
    .mail-section {
        padding: 20px;
    }
    .mail-section-form {
        width: 300px;
    }

    .mail-section-form textarea {
        resize: none;
        width: 300px;
    } 

    .mail-section-form-submit {
        width: 300px;
    }

    .first-footer-section p {
        font-size: 13px;
    }

    .second-footer-section h3 {
        font-size: 15px;
    }
}





























